body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
  margin: 50px 0;
}

h1 {
  margin-bottom: 10px;
}
#message {
  margin-bottom: 20px;
  font-size: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: bisque;
  border: 2px solid black;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.taken {
  cursor: not-allowed;
}

#reset {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
